fastapi==0.116.1
imutils==0.5.4
keras==3.10.0
tensorflow==2.16.1
matplotlib==3.10.3
numpy==1.26.4
opencv-python==4.10.0.84
Pillow==11.3.0
scikit-image==0.23.2
torch==2.7.1
ultralytics==8.3.167
gradio
